<section class="json-schema" style="">
    <div active="active"> <!-- uib-tabset -->
        <!-- uib-tab -->
        <div index="0" heading="Designer" (click)="convertSchema2Obj()">
            <div>
                <fieldset [disabled]="readonly">
                    <div class="main" style="">
                        <ng-main-jsonschema></ng-main-jsonschema>
                    </div>
                    <div class="model-type-selector" id="model-type-selector" style="display: none">
                        <ng-jsonschema-field type="model-selector-schema"></ng-jsonschema-field>
                    </div>
                </fieldset>
            </div>
        </div>
        <div index="1" heading="JSON Schema" (click)="convertObj2Schema()">
            <pre ui-ace="{mode: 'json'}" [(ngModel)]="$schema.original" class="highlight">{{$schema.original}}</pre>
        </div>
    </div>
</section>