<section class="json-schema">
    <div active="active"> <!-- uib-tabset -->
        <!-- uib-tab -->
        <div index="0" heading="Designer" (click)="convertSchema2Obj()">
            <div>
                <fieldset [disabled]="readonly">
                    <div class="main">
                        <ng-jsonschema-main entity="entity"></ng-jsonschema-main>
                    </div>
                    <div class="model-type-selector displaynone" id="model-type-selector">
                        <ng-jsonschema-field type="model-selector-schema"></ng-jsonschema-field>
                    </div>
                </fieldset>
            </div>
        </div>
        <div index="1" heading="JSON Schema" (click)="convertObj2Schema()">
            <!-- TODO -->
            <!-- <pre ui-ace="{mode: 'json'}" [(ngModel)]="$schema.original" class="highlight">{{$schema.original}}</pre> -->
        </div>
    </div>
</section>